<div *ngIf="loading" class="text-center mt-20 text-gray-500">
  loading...<i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
</div>
<div *ngIf="notFound" class="text-center mt-20 text-red-500">
  ❌ user not fount
</div>

<div *ngIf="user && !loading">
  <app-template1
    *ngIf="user.selectedTemplate === 'template1'"
    [user]="user"
  ></app-template1>
  <app-template2
    *ngIf="user.selectedTemplate === 'template2'"
    [user]="user"
  ></app-template2>
  <app-template3
    *ngIf="user.selectedTemplate === 'template3'"
    [user]="user"
  ></app-template3>
  <app-template4
    *ngIf="user.selectedTemplate === 'template4'"
    [user]="user"
  ></app-template4>
</div>
